# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE-specific ignores
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Maven specific ignores
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Log files
*.log

# Spring Boot specific ignores
*.springBeans

# OS-specific ignores
### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*

### Linux ###
*~
.nfs*

# Others
# .env files often contain sensitive information
.env
